
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mt-5">Editar nuevo usuario</h5>
            <a href="@Url.Action("Index", "tblUser")">
                Regresar
                <i class="left arrow icon"></i>
            </a>
        </div>
        <div class="card-body table-border-style">
            <hr>
            <form action="javascript:void(0);" onsubmit="updateItem()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Identificacion"># Identificación</label>
                        <input type="text" class="form-control" id="edit_identificacion" placeholder="1234567890000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" id="edit_nombre" placeholder="Ema">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Apellido">Apellido</label>
                        <input type="text" class="form-control" id="edit_apellido" placeholder="Ramirez">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="edit_email" placeholder="emarami@gmail.com">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Usuario">Usuario</label>
                        <input type="text" class="form-control" id="edit_usuario" placeholder="ema05">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="edit_password" placeholder="******">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Telefono">Télefono</label>
                        <input type="text" class="form-control" id="edit_telefono" placeholder="99887766">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Rol">Rol</label>
                        <select id="edit_rol" class="form-control">
                            <option value="">Cargando roles...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="rdbSexo">Sexo</label>
                        <br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="rbSexo" class="custom-control-input input-primary" id="edit_sexo1" checked="">
                            <label class="custom-control-label" for="Sexo1">Femenino</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="rbSexo" class="custom-control-input input-primary" id="edit_sexo2">
                            <label class="custom-control-label" for="Sexo2">Masculino</label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn  btn-primary" value="Guardar">
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        obtenerRoles();
        const editUser = JSON.parse(sessionStorage.getItem('editUser'));
        if (editUser) {
            document.getElementById('edit_nombre').value = editUser.use_name;
            document.getElementById('edit_identificacion').value = editUser.use_idnumber;
            document.getElementById('edit_apellido').value = editUser.use_lastname;
            document.getElementById('edit_usuario').value = editUser.use_nickname;
            document.getElementById('edit_password').value = editUser.use_password;
            // Seleccionar el radio button correspondiente al género del usuario
            if (editUser.use_gender === 'F') {
                document.getElementById('edit_sexo1').checked = true;
            } else if (editUser.use_gender === 'M') {
                document.getElementById('edit_sexo2').checked = true;
            }
            document.getElementById('edit_email').value = editUser.use_email;
            document.getElementById('edit_telefono').value = editUser.use_telephone;
            document.getElementById('edit_rol').value = editUser.use_rol;
            
        }
    }
</script>

<script src="~/Scripts/App/Usuario.js" asp-append-version="true"></script>