
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3>Mostrar todos los usuarios</h3>
<a href="@Url.Action("Create", "tblUser")">
    Crear
</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th># Identificación</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Sexo</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tbody id="DetUser"></tbody>
</table>
<p id="counter"></p>
<script src="~/Scripts/App/Usuario.js" asp-append-version="true"></script>
<script type="text/javascript">
    getUser();
</script>
